.root {
  width: 100vw;
  height: 100vh;
  display: block;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  border: 1px solid #dee0e3;
  overflow: hidden;
  border: 1px solid #dee0e3;
  text-decoration: none;
}
.root:hover {
  border: 1px solid rgba(97, 106, 229, 0.5);
}
.card-container {
  width: 100%;
  height: 100%;
  max-height: 120px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.text-container {
  padding: 12px 16px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
.cover-container {
  width: 33.3%;
  min-width: 33.3%;
  flex-shrink: 1;
  flex-grow: 0;
}
.text-container-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #1f2329;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-container-description {
  max-height: 40px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #646a73;
  margin-top: 6px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 2;
  text-overflow: ellipsis;
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-container-url-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 0;
  flex-direction: row;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  color: #1f2329;
  margin-top: 6px;
}
.text-container-url {
  margin-left: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cover-image {
  object-position: 50% 50%;
  background-size: auto 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
