.link_preview__root {
  display: block;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  border: 1px solid var(--ls-border-color);
  overflow: hidden;
  text-decoration: none;
}

.link_preview__root,
.link_preview__root * {
  box-sizing: border-box;
}

.link_preview__root:hover {
  border: 1px solid rgba(97, 106, 229, 0.5);
}

.link_preview__card-container {
  width: 100%;
  height: 100%;
  background-color: var(--ls-secondary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.link_preview__text-container {
  padding: 12px 16px;
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.link_preview__cover-container {
  flex: 1;
}

.link_preview__text-container-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--ls-primary-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}

.link_preview__text-container-description {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: var(--ls-secondary-text-color);
  margin-top: 6px;
  overflow: auto;
  display: flex;
  flex-grow: 1;
}

.link_preview__text-container-description > * {
  align-self: center;
  flex: 1;
}

.link_preview__text-container-url-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 0;
  flex-direction: row;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  color: var(--ls-primary-text-color);
  margin-top: 6px;
}

.link_preview__text-container-url-container > img {
  margin-right: 8px;
}

.link_preview__text-container-url {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link_preview__cover-image {
  object-position: 50% 50%;
  background-size: auto 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.link_preview__root img {
  box-shadow: unset;
  margin-left: unset;
}
